{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Pest Detection in Leaves</title>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '\assets\images\images (1).jpeg' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <div class="container-fluid bg-login">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 login-card">
                    <div class="row">
                        <div class="col-md-5 detail-part">
                            <h1>Pest Detection in Leaves</h1>
                            <p>Check this to identify the pest.
                                 </p>
                        </div>
                        <div class="col-md-7 logn-part">
                          <div class="row">
                              <div class="col-lg-10 col-md-12 mx-auto">
                                  <div class="logo-cover">
                                       <img src="{% static '\assets\images\images (1).jpeg' %}" alt="">
                                   </div>
                                    <div class="form-cover">
                                        <h6>Test now</h6>
                                        <form action="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                              <label for="image">Upload Image</label>
                                              <input type="file" class="form-control" name="image">
                                              <br>
                                              <br>
                                              <br>
                                        
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                              <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div>
                                            <div class="row form-footer">
                                            <input type="submit" class="btn btn-primary">
                                          </form>
                                        
                                             
                                          <div class="col-4"></div>
                                          <br>
                                          <br>
                                          {% if pred %}
                                            <h3>Pest is {{pred}}</h3> 
                                      
                                          {% endif %}
                                      </centre>
                                      </body>
                                      <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</html>
              